# Попытка SVR

In [1]:
import numpy as np
import pandas as pd
from sklearn import svm
from sklearn.svm import SVR
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('data_model.csv', index_col = 0)
df.sample(5)

,T1,F1,F2,F3,F4,F5,F6,T2,T3,F7,F9,F10
884.0,3.536230,1813.684114,37.954595,135.867682,18.838845,262.002852,42.406085,76.850058,2505.540449,205.074741,4.088461,50.860097
936.0,2.807028,2029.296906,993.859728,74.690667,27.292550,226.555876,547.516759,71.680994,2528.082238,220.732220,0.037639,59.156843
602.0,4.199403,1973.753494,186.274750,145.866675,20.218890,223.850528,464.720310,71.708566,2474.731951,187.933134,1.700748,72.209739
698.0,2.643124,1988.098999,1097.244899,86.510595,23.337462,275.650034,274.154374,73.897695,2339.869511,243.579227,10.853242,54.193898
518.0,2.586856,1863.397652,691.776020,105.714345,23.981928,312.548890,373.717123,78.925612,2729.521348,272.580746,5.364836,72.400851

In [3]:
df = df.drop(['F6', 'F10', 'F4', 'F5', 'T2'], axis = 1)

In [4]:
df.head()

           T1      F1          F2      F3      T3     F7   F9
1.0  1.857143  2030.0  738.736842   50.00  3000.0  220.0  4.0
3.0  1.857143  2030.0  738.736842  129.00  3000.0  220.0  5.0
4.0  2.771331  2030.0  753.000000  111.86  3000.0  220.0  5.0
5.0  2.767918  2000.0  748.000000  111.86  3000.0  220.0  5.0
6.0  2.569620  1910.0  807.000000  111.86  3000.0  220.0  5.0

In [5]:
ds = df.values
X = ds[:,0:6]
y = ds[:, 4]

In [6]:
regr = svm.SVR()
regr.fit(X, y)

SVR()

In [7]:
regr.predict([[1.857143, 2030.0, 738.736842, 50.00, 220.0, 4.0]])

array([2354.70503986])